:root
{
    --bg-c-m1: #eb753b;
    --bg-c-m2: #fac784;
    --txt-c-l1: #fc5203;
}
body
{
    background-color: var(--bg-c-m1);
}
.ptop
{
    display: flex;
    background-color: var(--bg-c-m2);
    /* padding-top: -3rem; */
    padding-left: 1rem;
    padding-right: 1rem;
}
.ptop a
{
    color: var(--txt-c-l1);
}
nav
{

}
.hero
{

}
.pmain
{
    background-color: var(--bg-c-m2);
}
